<header class="mck-header data-mck-header">
    


  <div class="mck-search">
    <a href="#" class="mck-search__toggle">
      <span class="mck-icon__search"></span>
    </a>
    <div class="mck-search__content mck-scrollable"></div>
  </div>






    <div class="mck-header__details">
      <a href="#" class="mck-header__logo">McKinsey &amp; Company</a>
      <a href="./" class="mck-header__portal-title">MyMcKinsey</a>
      <a href="#" class="mck-header__expand-close mck-icon__x" data-mck-header-close=""></a>
    </div>
    
<nav class="mck-nav-main">
  <a href="#" class="mck-nav-main__toggle mck-icon__menu"></a>
  <ul class="mck-nav-main__list">
    <!-- Primary level item only -->
    <li class="mck-nav-main__group-item">
      <a href="#">Client Service</a>
      <div class="mck-nav-main__group">
        <dl>
          <dt><a href="#">Title 1</a></dt>
          <dd>
            <ul>
              <li><a href="#">Praesent Commodo</a></li>
              <li><a href="#">Cursus Magna</a></li>
              <li><a href="#">Scelerisque</a></li>
            </ul>
          </dd>
        </dl>

        <dl>
          <dt><a href="#">Title 2</a></dt>
          <dd>
            <ul>
              <li><a href="#">Erat a Ante</a></li>
              <li><a href="#">Venenatis</a></li>
            </ul>
          </dd>
        </dl>

        <dl>
          <dt><a href="#">Title 3</a></dt>
          <dd>
            <ul>
              <li><a href="#">Elit Libero</a></li>
              <li><a href="#">Pharetra Augue</a></li>
              <li><a href="#">Fringilla</a></li>
              <li><a href="#">Aenean</a></li>
              <li><a href="#">Mollis Porta</a></li>
            </ul>
          </dd>
        </dl>

        <dl>
          <dt><a href="#">Title 4</a></dt>
          <dd>
            <ul>
              <li><a href="#">Elit Libero</a></li>
              <li><a href="#">Pharetra Augue</a></li>
              <li><a href="#">Fringilla</a></li>
              <li><a href="#">Aenean</a></li>
              <li><a href="#">Eget Metus</a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </li>
    <!-- Level 2 item -->
    <li class="mck-nav-main__list-item">
      <a href="#">My Development</a>
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
      </ul>
    </li>
    <li class="mck-nav-main__list-item"><a href="#">Our Firm</a></li>
    <li class="is-active mck-nav-main__list-item"><a href="#">Support Services</a></li>
  </ul>
</nav>




    <div class="mck-header__sub">
      


<div class="mck-app-launcher"><a href="#" class="mck-app-launcher__toggle"><span class="mck-icon__grid"></span> <span class="mck-app-launcher__title">Your Apps</span></a>
  <div class="mck-app-launcher__content">
    <ul class="mck-app-launcher__list">
      <li data-mck-app-id="know" data-mck-app-color="0065BD"><a href="#"><i class="mck-icon__know" style="color: rgb(0, 101, 189);"></i> Know</a></li>
      <li data-mck-app-id="clientlink" data-mck-app-color="00ADEF"><a href="#"><i class="mck-icon__clientlink" style="color: rgb(0, 173, 239);"></i> ClientLink</a></li>
      <li data-mck-app-id="wip" data-mck-app-color="0065BD"><a href="#"><i class="mck-icon__wip" style="color: rgb(0, 101, 189);"></i> WIP</a></li>
      <li data-mck-app-id="propose-to-win" data-mck-app-color="009AA6"><a href="#"><i class="mck-icon__propose-to-win" style="color: rgb(0, 154, 166);"></i> Propose to Win</a></li>
      <li data-mck-app-id="clientnews" data-mck-app-color="002960"><a href="#"><i class="mck-icon__clientnews" style="color: rgb(0, 41, 96);"></i> Client News</a></li>
      <li data-mck-app-id="our-partnership" data-mck-app-color="009AA6"><a href="#"><i class="mck-icon__our-partnership" style="color: rgb(0, 154, 166);"></i> Our Partnership</a></li>
      <li data-mck-app-id="diy-survey" data-mck-app-color="0065BD"><a href="#"><i class="mck-icon__diy-survey" style="color: rgb(0, 101, 189);"></i> DIY Survey</a></li>
      <li data-mck-app-id="visual-graphics" data-mck-app-color="00ADEF"><a href="#"><i class="mck-icon__visual-graphics" style="color: rgb(0, 173, 239);"></i> Visual Graphics</a></li>
      <li data-mck-app-id="ghd" data-mck-app-color="0065BD"><a href="#"><i class="mck-icon__ghd" style="color: rgb(0, 101, 189);"></i> GHD</a></li>
      <li class="mck-profile-dropdown__see-all is-themed--hover"><a href="#">See All Apps</a></li>
    </ul>
  </div>
</div>


      <div class="mck-profile-dropdown">
  <a href="#" data-mck-profile-toggle="">
    <div class="mck-profile-dropdown__img">
      <img src="/pages/DoF/dls/assets/images/examples/profile-avatar-1.jpg" alt="[User Name]">
    </div>
    <span>Your Profile</span>
  </a>
  <div class="mck-profile-dropdown__content">
    <ul class="mck-profile-dropdown__opts">
      <li>
        <h3><span class="mck-label-notification">7</span> Notifications</h3>
      </li>
      <li><a href="#"><span class="mck-icon__profile"></span> <span class="mck-profile-dropdown__opts-label">My Profile</span></a>
      </li>
      <li><a href="#"><span class="mck-icon__gear"></span> <span class="mck-profile-dropdown__opts-label">Settings</span></a>
      </li>
    </ul>
    <ul class="mck-profile-dropdown__list">
      <li data-mck-alert-color="0065BD" data-mck-dismissable="" style=""><span class="mck-profile-dropdown__product mck-icon__clientlink" style="background-color: rgb(0, 101, 189);"></span>
        <div class="mck-profile-dropdown__detail">
          <p>There are new changes on your Org Study WIP Report</p><span class="mck-profile-dropdown__detail-category">ClientLink</span>
          <a href="#" class="mck-icon__x" data-mck-dismiss=""></a>
        </div>
      </li>
      <li data-mck-alert-color="00ADEF" data-mck-dismissable="" style=""><span class="mck-profile-dropdown__product mck-icon__wip" style="background-color: rgb(0, 173, 239);"></span>
        <div class="mck-profile-dropdown__detail">
          <p>21 days until your Exposure List is due</p><span class="mck-profile-dropdown__detail-category">WIP</span>
          <a href="#" class="mck-icon__x" data-mck-dismiss=""></a>
        </div>
      </li>
      <li data-mck-alert-color="0065BD" data-mck-dismissable="" style=""><span class="mck-profile-dropdown__product mck-icon__clientlink" style="background-color: rgb(0, 101, 189);"></span>
        <div class="mck-profile-dropdown__detail">
          <p>It's been 21 days since you've called Brian Stevens</p><span class="mck-profile-dropdown__detail-category">ClientLink</span>
          <a href="#" class="mck-icon__x" data-mck-dismiss=""></a>
        </div>
      </li>
      <li data-mck-alert-color="00ADEF" data-mck-dismissable="" style=""><span class="mck-profile-dropdown__product mck-icon__wip" style="background-color: rgb(0, 173, 239);"></span>
        <div class="mck-profile-dropdown__detail">
          <p>Your travel expenses for July are high</p><span class="mck-profile-dropdown__detail-category">WIP</span>
          <a href="#" class="mck-icon__x" data-mck-dismiss=""></a>
        </div>
      </li>
      <li class="mck-profile-dropdown__see-all is-themed--hover"><a href="#">See All</a>
      </li>
    </ul>
  </div>
</div>

    </div>
  </header>